@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

:root {
  --body-bg-color: rgb(200, 255, 193);
  --section-bg-color: white;
  --li-color: rgb(95, 95, 95);
  --title-color: rgb(68, 68, 68);
}


body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-bg-color);
}

body, button, input {
  font-family: 'Helvetica Neue', sans-serif;
}

main {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  max-width: 1050px;
}

.tools-board {
  width: 210px;
  background-color: var(--section-bg-color);
  border-radius: 0.4rem;
  min-width: 210px;
  padding: 10px;
}

.drawing-board {
  background-color: var(--section-bg-color);
  flex: 1;
  border-radius: 0.4rem;
}
.shapes, .options, .color-options {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;

}

.title {
  font-size: 17px;
  color: var(--title-color);
  padding-left: 10px;
}


.shapes li, .options li {
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 35px;
  font-size: 15px;
  color: var(--li-color);
  
}

input[type="checkbox"]{
  margin-left: 0;
  width: 16px;
  height: 16px;
}

#fill-color:hover {
  cursor: pointer;
}

#brush-size-range {
  width: 90%;
  height: 5px;
  align-self: center;
}

.tools img {
  width: 16px;
}

.tools li:is(:hover, .active) img {
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(500deg) brightness(200%) contrast(50%);
}

.tools li:is(:hover, .active) {
  color: rgb(120, 197, 110);
  cursor: pointer;
}

.color-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}


.color-option {
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
  position: relative;
  margin: 0;
  border: 2px solid #fff;
}


.color-option:nth-of-type(1) {
  background: #fff;
  border: 1px solid #bfbfbf;

}

.color-option:nth-of-type(2) {
  background: #000;
}

.color-option:nth-of-type(3) {
  background: #E02020;
}

.color-option:nth-of-type(4) {
  background: #6DD400;
}

.color-option:nth-of-type(5) {
  background: #4A98F7;
}

.color-option:hover::before, .color-option.selected::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}

.color-option:first-child.selected::before {
  border-color: #ccc;
}

.color-option:first-child:hover::before {
  border-color: #ccc;
}

.color-option #color-picker {
  opacity: 0;
  cursor: pointer;
  width: 100%;
}

.buttons-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#clear-canvas {
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #999;
  width: 150px;
  height: 40px;

}

#clear-canvas:hover {
  cursor: pointer;
  background-color: rgb(244, 244, 244);
}

#clear-canvas:active {
  background-color: #ffffff;
}

#save-img{
  border: none;
  border-radius: 4px;
  background-color: #4A98F7;
  color: #fff;
  width: 150px;
  height: 40px;
  margin-top: 10px;
}

#save-img:hover {
  background-color: #2e86f1;
  cursor: pointer;
}

#save-img:active {
  background-color: #77b4ff;
}

canvas {
  width: 100%;
  height: 100%;
}